<!-- class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3" id="header"  -->

<nav class="navbar fixed-top" id="header">
  <a class="navbar-brand">
    <div class="container">
      <div class="row">
        <!--LOGO -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-xs-6">
          <img src="assets/img/APLogo-20-20.png" id="logoHeader" />
        </div>
        <!--FIN LOGO -->

        <!--Social Media -->
        <app-social-media
          class="col-xl-6 col-lg-4 col-md-6 col-sm-5 col-xs-3"
        ></app-social-media>
        <!-- fin Social Media-->

        <!--Button Login -->
        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col-xs-3">
          <button
            class="btn btn-outline-primary"
            type="submit"
            id="button-login">
            Login
          </button>
        </div>
        <!--fin Button Login -->
      </div>
    </div>
  </a>
</nav>

<app-banner-header></app-banner-header>
