#education{
    background-color: #708495;
}

#logoArgP{
    width: 95px;
    height: 55px;
    margin: 0px;
    border-radius: 10px;
}

.btn-right{
    color: #7e151a;
    text-align: right;
}

.textSub{
    color: #7e151a;
}
.textTitle{
    color: #f8f7f3;
}
